/* OH MY FOOD CSS */

/* ---------- Les couleurs du site ---------- */
:root {
    --color-primaire:#9356DC;
    --color-secondaire:#FF79DA;
    --color-tertiaire:#99E2D0;
}

/* ---------- La police du site ---------- */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    font-family: 'Shrikhand', cursive;
}

/* ---------- Les liens ---------- */
a {
    text-decoration: none;
    color: black;
}

footer a {
    color: white;
}

/* ---------- Les images ---------- */

/* ---------- Header ---------- */
header {
    display: flex;
    justify-content: center;
}

/* ---------- Footer ---------- */
footer {
    background-color: black;
    color: white;
    padding: 1em;
}

footer h1, .svg-inline--fa.fa-w-13, .svg-inline--fa.fa-w-20  {
    font-size: 1em;
    width: 1em;
}

li {
    list-style: none;
    padding-bottom: 0.5em;
}

ul {
    padding: 0;
}