/* ---------- Les couleurs du site ---------- */
$color-primaire:#9356DC;
$color-secondaire:#FF79DA;
$color-tertiaire:#99E2D0;
$color-operation-background: grey;
$color-bubble:#9356DC;
$color-link:black;
$color-footer-link:white;
$color-footer-background:

/* ---------- La police du site ---------- */
$font-title:'Shrikhand', cursive;
$font-body:'Roboto', sans-serif;