/* ---------- Les couleurs du site ---------- */
$color-primaire:#9356DC;
$color-secondaire:#FF79DA;
$color-tertiaire:#99E2D0;
$color-link:black;
$background-section: #f6f6f6;
$color-box-shadow: #909090;
$background-location: #EAEAEA;
$card-color:white;

/* ---------- La police du site ---------- */
$font-base:'Roboto', sans-serif;
$font-title: 'Shrikhand', cursive;