/* ---------- Section localisation ---------- */
#location {
    text-align: center;
    padding: 1em;
    background-color: $background-location;
    box-shadow: inset 0 15px 15px -20px $color-box-shadow;
}

/* ---------- Section réservation ---------- */
#reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:$background-section;
    padding: 1em;
    text-align: center;
}

#reservation p {
    font-size: 1.2em;
}

/* ---------- Section fonctionnement ---------- */
#operation ul {
    padding: 0 1em;
}

#operation li {
    display: flex;
    background-color: $background-section;
    border-radius: 1em;
    height: 3em;
    align-items: center;
}

#operation p {
    font-weight: bold;
}

.bubble {
    margin-left: -0.5em;
    height: 25px;
    width: 25px;
    background-color: $color-primaire;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* ---------- Section restaurants ---------- */
#restaurant {
    background-color: $background-section;
    padding-top: 1em;
}

figure {
    position: relative;
    background-color: white;
    @include box-shadow;
    border-radius: 1em;
    height: fit-content;
    margin: 2em 1em;
}

figcaption {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.new {
    background-color: $color-tertiaire;
    color: darken($color: $color-tertiaire, $amount: 50%);
    width: fit-content;
    font-weight: bold;
    padding: 0.5em;
    position: absolute;
    top: 1em;
    right: 1em;
}