.fa-map-marker-alt {
    padding-right: 1em;
}

.icon {
    padding: 1em;
    color: grey;
}

.favorite {
    align-self: center;
}

.fav_btn_like {
    display: none;
}

.fa-utensils {
    padding-right: 0.5em;
}

.menu_favorite {
    font-size: 2em;
    float: right;
    margin: -2.2em 1em;
}