/* ---------- Les liens ---------- */
a {
    text-decoration: none;
    color: $color-link;
}

footer a {
    color: white;
}

header a {
    position: absolute;
    left: 1em ;
    top: 0.9em;
    font-size: 1.5em;
}